@charset "utf-8";

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.btn_link {
    width: 115px;
    display: inline-block;
    color: #555;
    padding-bottom: 5px;
    border-bottom: 1px solid #e6cb83;
    font: 500 20px 'NanumSquare', sans-serif;
    transition: all .3s;
}

.btn_link:hover {
    font-weight: 600;
    color: #000;
    width: 200px;
}

.txt_red {
    color: #f00;
}

.txt_gold {
    color: #e6cb83;
}