@charset "utf-8";

main {
    width: 100%;
    padding-top: 100px;
    margin: 80px 0 100px;
}

main .main_inner {
    width: 1280px;
    margin: 0 auto 50px;
    position: relative;
}

.main_inner .brand {
    font: 900 20px 'NanumSquare', sans-serif;
    color: #333;
}

.main_inner .brand_title {
    font: 900 100px 'NanumSquare', sans-serif;
    margin-bottom: 20px;
}

.main_inner .brand_title .small_txt {
    font: 900 50px 'NanumSquare', sans-serif;
}

.main_inner .brand_stitle {
    font: 600 35px 'NanumSquare', sans-serif;
    color: #333;
}

.main_inner .brand_stitle .large_txt {
    font: 600 50px 'NanumSquare', sans-serif;
}

.main_inner .main_bg {
    position: absolute;
    top: -100%;
    right: 0;
}

main .main_bg_color {
    width: 100%;
    padding: 60px 0 20px;
    background-color: #5f3b22;
}

.main_inner .main_txt1 {
    font: 600 50px 'NanumSquare', sans-serif;
    color: #e6cb83;
    margin-bottom: 30px;
    opacity: 0;
}

.main_inner .main_txt2 {
    width: 520px;
    word-break: keep-all;
    font: 400 20px/30px 'NanumSquare', sans-serif;
    color: #fff;
    opacity: 0;
}

/* main **************************************************************/

section #info {
    width: 1280px;
    margin: 0 auto 100px;
}

#info .info_video {
    width: 845px;
    height: 475px;
    /* padding-top: 62px; */
    margin-right: 40px;
    float: left;
    border-radius: 30px;
    overflow: hidden;
    border: none;
}

#info .pr_info {
    float: right;
    width: 395px;
    text-align: center;
}

.pr_info .ingredients {
    display: inline-block;
    font: 900 50px 'NanumSquare', sans-serif;
    position: relative;
    margin-bottom: 30px;
}

.pr_info .ingredients::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    background-color: #e6cb83;
    z-index: -1;
}

.pr_info .rotate_box {
    position: relative;
    width: 395px;
    height: 380px;
    transform: perspective(800px) rotateY(180deg);
    transition: all 1.5s;
    transform-style: preserve-3d;
}

.pr_info:hover .rotate_box {
    transform: rotateY(180deg);
}

.pr_info .chart {
    width: 395px;
    height: 380px;
    border: 1px solid #333;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #333;
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.chart tr {
    height: 30px;
    border-radius: 5px;
}

.chart th {
    width: 188px;
    border: 1px solid #333;
    font: 600 17px/35px 'NanumSquare', sans-serif;
    background-color: #eee;
}

.chart td {
    width: 188px;
    border: 1px solid #333;
    font: normal 16px/35px 'NanumSquare', sans-serif;
    transform: skew(-0.03deg);
    color: #333;
}

.pr_info .small_txt {
    width: 395px;
    height: 380px;
    padding: 60px 20px 0;
    border-radius: 20px;
    box-sizing: border-box;
    font: normal 18px/26px 'NanumSquare', sans-serif;
    word-break: keep-all;
    color: #fff;
    position: absolute;
    top: 0;
    background-color: #5f3b22;
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* #info **********************************************************************/

section #kinder_slide {
    width: 1280px;
    margin: 0 auto 100px;
    overflow: hidden;
}

#kinder_slide h2 {
    font: 900 50px 'NanumSquare', sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: 70px;
}

#kinder_slide h2::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 360px;
    height: 25px;
    background-color: #e6cb83;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#kinder_slide .slide_wrap {
    width: 2240px;
    position: relative;
}

.slide_wrap li {
    float: left;
    width: 320px;
    text-align: center;
}

.slide_wrap li img {
    margin-bottom: 30px;
}

.slide_wrap li:hover img {
    animation: shake .6s ease-in-out infinite;
}

@keyframes shake {
    16% {
        transform:rotate(-10deg);
    }

    32% {
        transform:rotate(-10deg);
    }

    48% {
        transform:rotate(-5deg);
    }

    54% {
        transform:rotate(0deg);
    }

    60% {
        transform:rotate(5deg);
    }

    76% {
        transform:rotate(10deg);
    }

    92% {
        transform:rotate(10deg);
    }

    0%,
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.slide_wrap li p {
    font: normal 18px 'NanumSquare', sans-serif;
    /* transform: skew(-0.03deg); */
}

.slide_wrap li:hover p {
    font-weight: 600;
}

/* #nutella_slide ***************************************************/

section #synopsis {
    width: 100%;
    height: 600px;
    background: url(../img/section4/coffee-bg.png) no-repeat center/cover;
    padding: 170px;
    box-sizing: border-box;
}

#synopsis .synopsis_wrap {
    width: 1280px;
    margin: 0 auto;
}

.synopsis_wrap .synopsis_txt {
    width: 630px;
    height: 300px;
    padding: 70px 40px;
    box-sizing: border-box;
    word-break: keep-all;
    background-color: rgba(255, 255, 255, .5);
    font: 500 20px/30px 'NanumSquare', sans-serif;
    opacity: 0;
    transition: all 3s;
}