@charset "utf-8";

main {
    width: 100%;
    height: 596px;
    background: url(../img/main/main-bg.png) no-repeat center/cover;
    margin-top: 80px;
    position: relative;
    text-align: center;
    padding: 200px 0;
    box-sizing: border-box;
    color: #fff;
}

main .main_title {
    font: 900 40px 'NanumSquare', sans-serif;
    margin-bottom: 40px;
}

main p {
    font: 600 30px/50px 'NanumSquare', sans-serif;
}

/* main ********************************************************************/


#snb {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #999;
    background-color: rgba(0, 0, 0, 0.6);
}

#snb .snb_wrap {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.snb_wrap h3 a {
    color: #fff;
    font-size: 14px;
}

.snb_wrap ul a {
    font-size: 14px;
    color: #fff;
}

.snb_wrap .snb_logo {
    width: 16px;
    height: 16px;
    margin-top: 17px;
    padding-right: 50px;
    display: block;
    float: left;
}

.snb_logo img {
    width: 16px;
}

.snb_wrap .snb_gnb {
    float: left;
}

.snb_gnb h3::before {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    float: left;
    background-color: #999;
    margin-top: 17px;
}

.snb_gnb h3::after {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    float: left;
    background-color: #999;
    margin-top: 17px;
    position: relative;
    left: 135px;
}

.snb_gnb h3 {
    width: 130px;
    line-height: 50px;
    text-align: center;
    position: relative;
    font-weight: 500;
}

.snb_gnb h3>a:hover {
    color: #fff;
    font-weight: 600;
}

.snb_gnb .gnb_list {
    width: 130px;
    height: 130px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(47, 39, 34, 0.7);
    line-height: 30px;
    display: none;
}

.snb_gnb .gnb_list li a:hover {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

.snb_wrap .snb_snb {
    float: left;
    margin-left: 10px;
}

.snb_snb h3 {
    width: 130px;
    line-height: 50px;
    text-align: center;
    position: relative;
    font-weight: 500;
}

.snb_snb h3>a:hover {
    color: #fff;
    font-weight: 600;
}

.snb_snb .snb_list {
    width: 130px;
    height: 130px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(47, 39, 34, 0.7);
    line-height: 30px;
    display: none;
}

.snb_snb .snb_list li a:hover {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

.snb_snb h3::after {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    float: left;
    background-color: #999;
    margin-top: 17px;
    position: relative;
    left: 130px;
}

/* #snb *************************************************/

section #system {
    width: 100%;
    padding-top: 60px;
    margin-bottom: 100px;
}

#system .circle {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto 60px;
}

#system .system_top_wrap {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

.system_top_wrap .system_top {
    width: 420px;
    padding-top: 110px;
}

.stitle {
    font: 600 16px 'NanumSquare', sans-serif;
    color: #a1a5a5;
    transform: skew(-0.03deg);
}

.title {
    font: 900 50px/60px 'NanumSquare', sans-serif;
    color: #333;
}

.small_txt {
    font: 500 18px/28px 'NanumSquare', sans-serif;
    color: #333;
    word-break: keep-all;
}

.content_title {
    font: 600 25px 'NanumSquare', sans-serif;
    color: #000;
}

.system_top .stitle {
    margin-bottom: 30px;
}

.system_top .title {
    margin-bottom: 50px;
}

.system_top .small_txt {
    margin-bottom: 240px;
}

.system_top_wrap .system_bg {
    width: 593px;
    height: 722px;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0;
    transition: all 1.5s ease-out;
}

#system .system_bottom_wrap {
    width: 100%;
    background-color: #e6cb83;
    padding-top: 160px;
    box-sizing: border-box;
}

.system_bottom_wrap .system_bottom {
    width: 1280px;
    margin: 0 auto;
}

.system_bottom .system_bottom_inner {
    width: 600px;
    float: left;
}

.system_bottom .title {
    margin-bottom: 50px;
}

.system_bottom_inner .small_txt {
    margin-bottom: 110px;
}

.system_bottom_inner .small_txt::after {
    content: "";
    display: block;
    width: 100px;
    height: 6px;
    margin-top: 40px;
    background-color: #333;
    transition: all .8s;
}

.system_bottom .system_bottom_right {
    width: 593px;
    float: right;
}

.system_bottom_right li {
    width: 265px;
    margin-right: 63px;
    margin-bottom: 40px;
    float: left;
    position: relative;
    top: 100px;
    opacity: 0;
}

.system_bottom_right li:nth-child(2n) {
    margin-right: 0;
}

.system_bottom_right li h5 {
    font: 900 25px 'NanumSquare', sans-serif;
    color: #000;
    margin-bottom: 30px;
}

.system_bottom_right li p {
    font: 600 16px/26px 'NanumSquare', sans-serif;
    transform: skew(-0.03deg);
    color: #333;
    word-break: keep-all;
}

/* #system *******************************************************/

section #energy_wrap {
    width: 1280px;
    margin: 0 auto 150px;
    overflow: hidden;
    position: relative;
}

#energy_wrap .energy_bg {
    width: 590px;
    height: 722px;
    position: absolute;
    top: 50%;
    opacity: 0;
    left: 0;
    transition: all 1.5s ease-out;
}

#energy_wrap .energy_txt_wrap {
    width: 550px;
    margin-top: 50px;
    float: right;
}

.energy_txt_wrap .title {
    margin-bottom: 20px;
}

.energy_txt_wrap .stitle {
    margin-bottom: 60px;
}

.energy_txt_wrap .stitle::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    margin-top: 60px;
    background-color: #e6cb83;
}

.energy_txt_wrap .content_title {
    margin-bottom: 40px;
    position: relative;
    top: 50px;
    opacity: 0;
    left: 0;
    transition: all 1.5s ease-out;
}

.energy_txt_wrap .small_txt {
    margin-bottom: 40px;
    position: relative;
    top: 50px;
    opacity: 0;
    left: 0;
    transition: all 2s ease-out;
}

/* #energy_wrap *******************************************/

section #water_wrap {
    width: 1280px;
    margin: 0 auto 150px;
    overflow: hidden;
    position: relative;
}

#water_wrap .water_txt_wrap {
    width: 600px;
    padding-top: 70px;
}

.water_txt_wrap .title {
    margin-bottom: 20px;
}

.water_txt_wrap .stitle {
    margin-bottom: 60px;
}

.water_txt_wrap .stitle::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    margin-top: 60px;
    background-color: #e6cb83;
}

.water_txt_wrap .content_title {
    margin-bottom: 40px;
    position: relative;
    top: 50px;
    opacity: 0;
    left: 0;
    transition: all 1.5s ease-out;
}

.water_txt_wrap .small_txt {
    margin-bottom: 40px;
    position: relative;
    top: 50px;
    opacity: 0;
    left: 0;
    transition: all 1.5s ease-out;
}

#water_wrap .water_bg {
    width: 590px;
    height: 722px;
    position: absolute;
    top: 50%;
    opacity: 0;
    right: 0;
    transition: all 1.5s ease-out;
}

/* #water_wrap ************************************************************/

section #pack_wrap {
    width: 100%;
    overflow: hidden;
}

#pack_wrap .pack_txt1 {
    width: 1280px;
    margin: 0 auto;
}

.pack_txt1 .title {
    margin-bottom: 20px;
}

.pack_txt1 .title::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    margin-top: 20px;
    background-color: #e6cb83;
}

#pack_wrap .pack_txt2 {
    width: 70%;
    height: 280px;
    background-color: #e6cb83;
    float: right;
    padding: 50px 0 50px 80px;
    box-sizing: border-box;
}

.pack_txt2 li {
    width: 25%;
    margin-right: 8.333333333333333%;
    float: left;
    opacity: 0;
}

.pack_txt2 li .content_title {
    margin-bottom: 40px;
}

/* #pack_wrap *************************************************/

#banner {
    width: 100%;
    height: 400px;
    background: url(../img/section2/packing1.png) no-repeat center/cover;
}